@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sansita:ital,wght@0,400..900;1,400..900&family=Teko:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  height: auto !important;
  overflow-x: hidden;
  overflow-y: auto;
}
main {
  width: 100%;
  max-width: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
section {
  scroll-margin-top: 13rem;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #f4f4f4;
  height: auto !important;
  overflow-x: hidden;
  overflow-y: auto;
  animation: fadeInBody 1s ease-in;
}
ul {
  list-style: none;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.wrapper {
  width: 100%;
  max-width: 136.6rem;
  margin: 0 auto;
}

.sobre-mim-container,
.depoimento-container,
#consultorio,
.faq-container {
  animation: fadeInUp 1s ease-in-out;
}
@keyframes fadeInBody {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes breathe {
  0%,
  100% {
    opacity: 0.9;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.02);
  }
}
.cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  background-color: #226785;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
  height: 7rem;
  padding: 1rem 2rem;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1);
}
.nav-list {
  display: flex;
  margin: 0;
  padding: 1.5rem;
  gap: 5rem;
}
.nav-item {
  font-family: "Teko", sans-serif;
  color: #fff;
  font-size: clamp(1rem, 4vw, 2rem);
  text-transform: uppercase;
  cursor: pointer;
}
.botao-FaleComigo {
  background-color: #0fb3d0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
  height: 4.5rem;
  padding: 2rem 2rem;
  margin-top: -10px;
  border-radius: 1rem;
  margin-left: 5rem;
}
.botao-FaleComigo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.nav-item a:hover {
  color: #00ffff;
  transition: 0.2s ease;
}
.botao-FaleComigo:hover {
  background-color: #00363e;
  transition: 0.2s ease;
  animation: pulse 0.5s;
}
.cor-fonte-branco a:hover {
  color: #ffffff;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: #fff;
  margin: 8px;
  transition: 0.3s;
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.inicio-do-site {
  padding-top: 7rem;
  margin: 0;
}
.container-inicial {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5rem;
  width: 100%;
  max-width: 120rem;
  margin: 8rem auto 0;
}
#logo {
  height: 30rem;
  width: auto;
  margin-left: 1rem;
}
.textos {
  max-width: 75rem;
  text-align: left;
  margin-left: 5.7rem;
}
.texto-chamativo-maior {
  font-family: "Sansita", sans-serif;
  color: #226785;
  font-size: clamp(2rem, 2vw, 3.2rem);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
  white-space: nowrap;
}
.texto-chamativo-menor {
  font-family: "Roboto", sans-serif;
  color: #000000;
  font-size: clamp(1.5rem, 1.6vw, 2.6rem);
  line-height: 1.6;
}
.btn-social {
  display: flex;
  justify-content: flex-end;
  max-width: 136.6rem;
  width: 100%;
  margin: 2rem auto 0 auto;
  padding-right: 20rem;
  box-sizing: border-box;
}
.btn-social ul {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}
.btn-social ul li {
  position: relative;
  background: #226785;
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 1;
  transition: 0.4s;
  width: 20rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-social ul li:hover {
  transform: translateY(-0.5rem);
}
.btn-social ul li::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 90%;
  left: 0;
  background: #00ffff;
  z-index: -1;
  transition: 0.4s;
}
.btn-social ul li:hover::before {
  top: 0%;
}
.btn-social ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
  gap: 1rem;
}
.btn-social ul li a:hover {
  color: #555;
}
.icone-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.icone-container img {
  height: 3rem;
  width: auto;
}
.icone-container figcaption {
  text-transform: uppercase;
  font-size: clamp(1.8rem, 1.5vw, 1.6rem);
  font-weight: 600;
  color: #fff;
  margin: 0;
}
.icone-whatsapp,
.icone-instagram,
.icone-gmail {
  height: 4.5rem;
}
.sobre-mim-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 136.6rem;
  min-height: 60rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 4rem 2rem;
  gap: 5rem;
  background-color: #226785;
  position: relative;
  overflow: hidden;
}
.cintia-almeida {
  max-width: 45rem;
  min-width: 25rem;
  margin-top: auto;
  margin-bottom: auto;
  height: auto;
  flex-shrink: 0;
  align-self: center;
  display: block;
}
.caixa-perguntas-respostas {
  color: #000000;
  flex: 1;
  min-width: 30rem;
  max-width: 60rem;
  font-size: 1.6rem;
  line-height: 1.6;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.perguntas {
  font-family: "Sansita", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0 0 1px #000000;
  margin-top: 1rem;
  margin-bottom: 0.3rem;
  cursor: pointer;
}
.perguntas:hover {
  color: #00ffff;
  text-shadow: 0 0 3px #34f3f3;
  transition: 0.2s ease;
}
.respostas {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2rem;
  color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  margin-top: 0.3rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.depoimento-container {
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  overflow: visible;
}
#texto-motivacional {
  color: #226785;
  font-family: "Sansita", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  animation: breathe 4s ease-in-out infinite;
}
#texto-descritivo {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.texto-depoimento {
  justify-content: center;
  text-align: center;
}
.depoimentos-card-principal {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 1.5rem;
  overflow: visible;
  min-height: 40rem;
  margin-top: 6rem;
}
.depoimentos-card-container {
  flex: 1;
  min-width: 0;
  background-color: #226785;
  border-radius: 3rem;
  padding: 2rem;
  transition: transform 0.4s ease, box-shadow 0.4s ease, filter 0.4s,
    opacity 0.4s ease;
  opacity: 1;
  filter: none;
  transform: scale(1);
  position: relative;
  height: 600px;
  color: white;
  font-family: "Sansita";
  display: flex;
  flex-direction: column;
}
.depoimentos-card-container:hover {
  box-shadow: 0 0 2.5rem rgba(0, 255, 255, 0.4);
  animation: pulseHighlight 0.6s ease-in-out forwards;
  z-index: 2;
  cursor: pointer;
}
@keyframes pulseHighlight {
  0% {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgba(0, 255, 255, 0.3);
  }
  50% {
    transform: scale(1.08);
    box-shadow: 0 0 2.5rem rgba(0, 255, 255, 0.5);
  }
  100% {
    transform: scale(1.05);
    box-shadow: 0 0 2rem rgba(0, 255, 255, 0.3);
  }
}
.depoimento-navegacao {
  display: none;
}
.depoimentos-card-container.dim {
  opacity: 0.3;
  filter: blur(0.15rem);
  transform: scale(0.95);
}
.depoimentos-card-container.highlight {
  opacity: 1;
  filter: none;
  transform: scale(1.05);
  z-index: 10;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
  width: 32rem;
  height: auto;
  cursor: pointer;
}
.depoimentos-card-container header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.foto-paciente {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
}
.paciente {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.7rem;
  margin: 0;
}
.depoimento-container p {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
}
.conteudo-card {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.avaliacao {
  color: gold;
  font-size: 1.4rem;
  text-align: center;
  position: relative;
  margin-top: auto;
}
#consultorio {
  max-width: 136.6rem;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
  background-color: #226785;
}
.titulo-consultorio {
  font-family: "Sansita", sans-serif;
  color: #ffffff;
  font-size: 4rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}
.carrossel-container {
  position: relative;
  max-width: 700px;
  margin: 60px auto;
  padding: 0 60px;
  overflow: hidden;
  transform-style: preserve-3d;
}
.carrossel-instagram {
  position: relative;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.post {
  position: absolute;
  opacity: 0;
  transition: 0.8s ease;
  pointer-events: none;
  z-index: 0;
  transform: scale(0.8);
}
.post.ativo {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  left: 50%;
  z-index: 3;
  pointer-events: auto;
}
.post.anterior {
  opacity: 0.4;
  transform: translateX(-140%) scale(0.8);
  left: 50%;
  z-index: 1;
}
.post.proximo {
  opacity: 0.4;
  transform: translateX(40%) scale(0.8);
  left: 50%;
  z-index: 1;
}
.post-img {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.post:hover .post-img {
  transform: scale(1.05);
}
.post figcaption {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  transition: font-size 0.3s ease;
  font-family: "Sansita" sans-serif;
}
.post:hover figcaption {
  font-size: 1.35rem;
}
.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.4rem;
  background-color: rgba(255, 255, 255, 0.9);
  color: #226785;
  border: none;
  padding: 1rem 1.4rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.seta:hover {
  background-color: #ffffff;
  transform: translateY(-50%) scale(1.1);
}
.seta:active {
  transform: translateY(-50%) scale(0.95);
}
.seta.esquerda {
  left: 10px;
}
.seta.direita {
  right: 10px;
}
#maps {
  display: inline-block;
  padding: 1.2rem 4rem;
  background-color: #0fb3d0;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 1rem;
  font-size: 1em;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
#maps:hover {
  background-color: #00363e;
  animation: pulse 2.5s infinite;
}
.endereco {
  font-family: "Sansita", sans-serif;
  font-size: 2rem;
  color: #ffffff;
  text-align: center;
  margin-top: 2rem;
  text-decoration: underline;
  cursor: pointer;
}
.endereco:hover {
  font-size: 2.5rem;
  color: #00ffff;
  transition: 0.3s all ease-in-out;
}
.faq-container {
  max-width: 100%;
  margin: 4rem auto;
  padding: 0 2rem;
  font-family: "Sansita", sans-serif;
}
.faq-titulo {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.faq-subtitulo {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 6rem;
  color: #555555;
  text-transform: uppercase;
}
.faq-item {
  border-bottom: 0.1rem solid #cccccc;
  margin-bottom: 1em;
  padding: 1rem 0;
}
.faq-pergunta {
  width: 100%;
  padding: 1em;
  font-size: 1.1em;
  background-color: #00363e;
  color: white;
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}
.faq-pergunta:hover {
  background-color: #174ba4;
}
.faq-resposta {
  max-height: 0;
  overflow: hidden;
  transition: max-heigh 0.3s ease;
  text-align: center;
}
.faq-item.active .faq-resposta {
  max-height: 500px;
}
.rodape {
  background-color: #226785;
}
.titulo-footer {
  text-align: center;
  color: white;
  font-family: "Sansita", sans-serif;
  font-size: 2.3rem;
  padding-top: 1.25rem;
}
.btn-social-footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.btn-itens {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-icon {
  width: 4rem;
  height: auto;
}
